/* 
div.main-content .promo-container{
    
}

div.main-content .promo-container .box{
    width: 60%;
    height: 70%;
    box-shadow: 0 0 25px -3px rgba(0, 0, 0, 0.4);
    margin: 50px auto 20px auto;
}

div.main-content .promo-container .box img{
    width: 100%;
    height: 100%;
}
 */


 div.main-content .wrapper-slider{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
 }

 div.main-content .wrapper-slider .slider{
    border-radius: 10px;
    overflow: hidden;
   }

 div.main-content .wrapper-slider .slides{
    width: 500%;
    height: 500px;
    display: flex;
 }

div.main-content .wrapper-slider .slide{
    width: 20%;
    transition: 2s;
}
div.main-content .wrapper-slider .slides input{
    display: none;
}

div.main-content .wrapper-slider .slide img{
    width: 1480 px;
    height: 500px;
}


div.main-content .wrapper-slider .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    margin-left: 350px;
}

.wrapper-slider .navigation-manual .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.wrapper-slider .navigation-manual .manual-btn:not(:last-child){
    margin-right: 40px;
}

.wrapper-slider .navigation-manual .manual-btn:hover{
    background: #40D3DC;
}

div.main-content .wrapper-slider .slides #radio1:checked ~ .first{
    margin-left: 0;
}

div.main-content .wrapper-slider .slides #radio2:checked ~ .first{
    margin-left: -20%;
}

div.main-content .wrapper-slider .slides .navigation-auto{
   position: absolute;
   display: flex;
   width: 800px;
   margin-top: 460px;
   justify-content: center;
   margin-left: 350px;
}

div.main-content .wrapper-slider .slides .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

div.main-content .wrapper-slider .slides .navigation-auto div:not(:last-child){
    margin-right: 40px;
}

div.main-content .wrapper-slider .slides #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #40D3DC;
}

div.main-content .wrapper-slider .slides #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #40D3DC;
}