/* Product Content Layout */
div.product-content{
    display: flex;
	margin-bottom: 50px;
}

div.product-content .image-container{
    margin: 100px auto auto 150px;
}

div.product-content .details-container{
    margin: 50px auto auto 150px;
}

div.product-main-container .product-content .backbutton{
	margin: 20px auto auto 40px;
}

div.product-main-container .product-content .backbutton a{
	color: black;
}

/* Image SLIDER*/

div.product-content .back-button{
    background-color: black;
    color: white;  
}

div.product-content .back-button a{
    list-style: none;
    text-decoration: none;
}

#featured{
	width: 550px;
	height: 600px;
	cursor: pointer;
	border: 2px solid black;
	object-fit: contain;	
}

div.product-content .thumbnail{
	object-fit: contain;
	width: 140px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid black;
}

div.product-content .thumbnail:hover{
	opacity:1;
}

div.product-content .activephoto{
    opacity: 1;
}

div.product-content #slide-wrapper{
    max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

div.product-content .product-details .product-name{
    margin: 20px auto auto 200px;
    width: 300px;
    text-align: center;
}

div.product-content #slider{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
    overflow: hidden;

}

div.product-content .arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

div.product-content .arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}

/*Product Details*/

div.product-content .details-container h1{
    width: 500px;
    font-size: 30px;
    height: auto;
}

div.details-container ul li{
    font-size: 18px;
    font-weight: lighter;
}

div.details-container .wrapper-addcart .price{
	color: red;
	font-size: 30px;
	margin-bottom: 0;
}

div.details-container .wrapper-addcart .del{
	
	margin-top: 5px;
	font-weight: lighter;
	font-size: smaller;
	opacity:0.5 ;
}

/*Add to Cart*/


div.details-container .wrapper-btn-quantity{
	display: flex;
	align-items: center;
}

div.details-container .wrapper-addcart p, .btn, .addToCart{
    margin-right: 10px ;
}

div.details-container .btn{
	margin-bottom: 10px;
}

div.details-container .minusBtn, .plusBtn, .mainBtn{
	padding: 5px;
	border-radius: 0;
	width: 30px;
	border: none;
}

div.details-container .addToCart, .buyNow{
	padding: 10px;
	width: 150px;
	text-align: center;
	border-radius: 0;
}

div.details-container .addToCart{
	background-color: #FFB916;
	color: white;
	font-weight: 500;
	border: none;
}

div.details-container .addToCart:hover{
	background-color: #a17308;
	color: white;
	font-weight: 500;
	border: none;
}

div.details-container .buyNow{
	background-color: #F57224;
	color: white;
	font-weight: 500;
	border: none;
}

div.details-container .buyNow:hover{
	background-color: #984515;
	color: white;
	font-weight: 500;
	border: none;
}

/*Color: */
div.details-container .wrapper-btn-quantity .color-variant{
	font-size: 16px;
	font-weight: lighter;
	width: 40px;
	border-radius: 1px;
	padding: 4px;
	margin-right: 10px;
	text-align: center;
}

div.details-container .wrapper-btn-quantity #black-color{
	background-color: black;
	color: white;
}

div.details-container .wrapper-btn-quantity #blue-color{
	background-color: #add2e6;
	color: white;
}

div.details-container .wrapper-btn-quantity .color-variant.active-color{
	border: 2px solid red;
	opacity: 1;
}


/* Image Cover */



div.main-container .image-cover img{
	/* width: 800px;
	height: 400px; */
	border: 0px solid black;
	margin-left: 100px;
	margin-bottom: 50px;

	

}

div.product-main-container .fullspectitle{
	margin-left: 150px;
}

div.product-main-container .specs{
	margin-left: 150px;
	margin-bottom: 100px;
	border: 1px solid black;
	padding: 10px 5px 10px 5px;
	width: 1200px;
	border-collapse: collapse;
}

div.product-main-container .specs td:hover{
	background-color: #ddd;
}

div.product-main-container .specs td, th{
	border: 1px solid black;
	padding: 10px;
}

div.product-main-container .specs th{
	text-align: left;
	color: red;
}

div.product-main-container .category{
	font-weight: bold;
	
}

div.product-main-container .details{
	font-weight: lighter;
	
}


